/* Main container that contains the cards */
#game-board{
    background-color: darkolivegreen;
    height: 75vh;
}
#deck-zone{
    background-color: transparent;
    width: fit-content;
    padding: 10px;
    border: 7px solid rgb(199, 187, 187);
    border-radius: 10px;

}
#player-hand, #dealer-hand{
    background-color: antiquewhite;
    /* width: 100%;
    padding: 15px 0;
    margin: 15px 0; */
}

.horizontal-scroll{
    overflow-x: auto;        /* Enables horizontal scrolling */
    white-space: nowrap;     /* Prevents wrapping */
}

/* card image */
.card{
    width: 100px;
    height: auto;
    margin: 10px;
    display: inline-block;
}

.btn{
    background-color: rgb(78, 74, 74);
    height: fit-content;
    padding: 3px 10px;
    color: white;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 500px;
    transition: background-color 0.3s ease, transform 0.5s ease; /* Slow transition */
}
.btn:hover{
    background-color: white;
    transform: scale(1.1);
    
}

/* Mobile Devices */
@media (max-width: 480px) {
    .card{
        width: 15%;
    }
}
